/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  padding-bottom: 100px;
  margin-bottom: 40px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}
.main-image{
  float:right;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.9);
}

@media screen and (max-width: 768px) {
  .parent { 
    display: table;
  }
  .child1 {
    display: table-footer-group;
  }
  .child2 {
    display: table-footer-group;
  }
  .main-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
  .child3{
    display: table-header-group;
  }
}
.w3-animate-bottom{
  position:relative;animation:animatebottom 0.7s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
}
.nav-item{
  padding-right: 20px;
}
.hidden {
  display:none;
}
.spotify{
  padding-top: 10px;
}
.fa {
  transform: translateY(+15%);
  position: relative;
  padding: 2px;
  color: grey;
  font-size: 30px;
  width: 50px;
  text-align: right;
  text-decoration: none;
  margin: 5px 2px;
}
/* Custom page CSS
-------------------------------------------------- 
/* Not required for template or sticky footer method. */

body > .container {
  padding: 40px 15px 0;
}

.footer > .container {
  text-align: right;
  padding-right: 10px;
  padding-left: 10px;
}

code {
  font-size: 80%;
}